<div class="main-container">
    <div class="results-section">
      <h3>Results</h3>
      <div class="items-container">
        <ng-container *ngFor="let item of bookArray;let idx=index">
          <div class="item" (click)="getBookDetails(idx)">
            <div class="item-image">
              <img src={{item.img}}>
            </div>
            <div class="item-details">
              <h3>{{item.name}}
              </h3>
              <p>{{item.author}} | {{item.date}}</p>
              <span>Paperback</span>
              <div class="price">
                <div class="price-container">
                  <span class="original-price">M.R.P: ₹{{item.originalPrice}}</span>
                  <span class="discounted-price">₹{{item.discountPrice}}</span>
                </div>
                
                <ng-container *ngIf="bookDetails && bookName==item.name">
                  <div class="desc">
                      <p>{{bookDetails}}</p>
                    </div>
                </ng-container>
                
              </div>
            </div>
          </div>
          </ng-container>
      </div>
    </div>
  </div>
  